apps-judgmentday{
    display: inline-block;
    position: relative;
    padding: 0.4rem 0.5rem;
    .apps-judgmentday{
        white-space: nowrap;
        font-size: 0.85rem;
        color:@white;
        cursor: default;
        .apps-judgmentday-days,
        .apps-judgmentday-hours,
        .apps-judgmentday-minutes,
        .apps-judgmentday-seconds{
            text-shadow: @text-dark-shadow;
            cursor: default;
        }
    }

}
